/* Extra Small Devices (phones) */
@media only screen and (max-width: 480px) {
  body {
    width: auto
  }

  /* 모든 버튼의 기본 css값 */
  /* 글자수에 따른 버튼 길이, 버튼 개수에 따른 마진 조정필요 */
  button {
    font-family: 'NeoDunggeunmoPro-Regular';
    color: black;
    box-sizing: border-box;
    margin: auto;
    background: #F6B93B;
    border: 0px;
    border-radius: 4px;
    line-height: 1.4em;
    width: 90vw;
    height: 6.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 시작 페이지 css */
  .head {
    font-size: 19px;
    width: 80vw;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .startImage {
    width: 69vw;
    height: 35vh;
    margin: auto;
    margin-bottom: 5vh;
    display: flex
  }


  /* 응답 페이지 css */
  .images {
    width: 69vw;
    height: 35vh;
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    padding-top: 13vh;
  }

  .question {
    font-size: 15px;
    line-height: 1.4em;
    width: 91vw;
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
  }

  .btn1,
  .btn2,
  .previousBtn {
    margin-bottom: 1vh;
  }

  .previousBtn {
    background-color: white;
    border: #808080 2px solid;
  }

  /* 결과 페이지 css */
  .resultHead {
    font-size: 20px;
    width: 80vw;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .results {
    font-size: 15px;
    line-height: 1.5em;
    width: 80vw;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }

  .reStarts {
    background-color: white;
    border: #F6B93B 2px solid;
    width: 80vw;
  }

  /* 배드엔딩 페이지 css */
  .badEnding {
    font-size: 16px;
    line-height: 1.5em;
    width: 90vw;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }
}

/* Small Devices (portrait tablets and large phones) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* CSS 코드 */
}

/* Medium Devices (landscape tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 500px;
    border: 2px solid black;
    height: fit-content;
    display: contents;
  }

  /* 모든 버튼의 기본 css값 */
  /* 글자수에 따른 버튼 길이, 버튼 개수에 따른 마진 조정필요 */
  button {
    font-family: 'NeoDunggeunmoPro-Regular';
    color: black;
    box-sizing: border-box;
    margin: auto;
    background: #F6B93B;
    border: 0px;
    border-radius: 4px;
    line-height: 1.4em;
    width: 400px;
    height: 6.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 시작 페이지 css */
  .head {
    font-size: 20px;
    width: 300px;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .startImage {
    width: 400px;
    height: 35vh;
    margin: auto;
    margin-bottom: 5vh;
    display: flex
  }


  /* 응답 페이지 css */
  .images {
    width: 400px;
    height: 35vh;
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    padding-top: 13vh;
  }

  .question {
    font-size: 17px;
    line-height: 1.4em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
  }

  .btn1,
  .btn2,
  .previousBtn {
    margin-bottom: 1vh;
  }

  .previousBtn {
    background-color: white;
    border: #808080 2px solid;
  }

  /* 결과 페이지 css */
  .resultHead {
    font-size: 20px;
    width: 400px;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .results {
    font-size: 15px;
    line-height: 1.5em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }

  .reStarts {
    background-color: white;
    border: #F6B93B 2px solid;
    width: 400px;
  }

  /* 배드엔딩 페이지 css */
  .badEnding {
    font-size: 16px;
    line-height: 1.5em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }
}

/* Large Devices (laptops and desktops) */
@media only screen and (min-width: 1025px) {
  body {
    width: 500px;
    border: 2px solid black;
    height: fit-content;
    display: contents;
  }

  /* 모든 버튼의 기본 css값 */
  /* 글자수에 따른 버튼 길이, 버튼 개수에 따른 마진 조정필요 */
  button {
    font-family: 'NeoDunggeunmoPro-Regular';
    color: black;
    box-sizing: border-box;
    margin: auto;
    background: #F6B93B;
    border: 0px;
    border-radius: 4px;
    line-height: 1.4em;
    width: 400px;
    height: 6.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 시작 페이지 css */
  .head {
    font-size: 20px;
    width: 300px;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .startImage {
    width: 400px;
    height: 35vh;
    margin: auto;
    margin-bottom: 5vh;
    display: flex
  }


  /* 응답 페이지 css */
  .images {
    width: 400px;
    height: 35vh;
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    padding-top: 13vh;
  }

  .question {
    font-size: 17px;
    line-height: 1.4em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
  }

  .btn1,
  .btn2,
  .previousBtn {
    margin-bottom: 1vh;
  }

  .previousBtn {
    background-color: white;
    border: #808080 2px solid;
  }

  /* 결과 페이지 css */
  .resultHead {
    font-size: 20px;
    width: 400px;
    height: 5vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    display: flex;
    margin: auto;
  }

  .results {
    font-size: 15px;
    line-height: 1.5em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }

  .reStarts {
    background-color: white;
    border: #F6B93B 2px solid;
    width: 400px;
  }

  /* 배드엔딩 페이지 css */
  .badEnding {
    font-size: 16px;
    line-height: 1.5em;
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
  }
}